[Desktop Entry]
Name=Dabri
Comment=Offline STT
Exec=dabri
Icon=io.github.ashbuk.dabri
Type=Application
Categories=AudioVideo;Audio;Utility;Accessibility;
Keywords=speech;voice;transcription;ai;whisper;offline;privacy;
Terminal=false
StartupNotify=true